div.advancer {
    width: 46px;
    height: 46px;
    border-radius: 23px;
    box-shadow: 4px 4px #777;
    background: #fdc;
    position: relative;
    border: 1px solid #333;
    margin: 7px;
}

div.active {
    box-shadow: 4px 4px #777, 2px 2px 6px 6px blue;
}
    
div.advancer > div.a {
    position: absolute;
    top: 4px;
    left: 4px;
}

div.advancer > div.b {
    position: absolute;
    right: 4px;
    bottom: 10px;
}

div.advancer > div {
    z-index: 2;
    width: 26px;
    text-align: center;
    text-shadow: 1px 1px white, -1px -1px white;
    font-size:8pt;
}

div.advancer > div > img {
    width: 21px;
    height: 21px;
    top: 0px;
    left: 3px;
    position: absolute;
    z-index: -1;
}

div.horiz {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.townGrid {
    display: grid;
    grid-template-rows: min-content min-content min-content 1fr min-content;
    grid-template-columns: 1fr min-content min-content min-content;
    height: 100%;
}

.advancers {
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 2;
}

.resource1 {
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 2; 
    grid-row-end: 3;
}

.resource2 {
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 3; 
    grid-row-end: 4;
}

.buildings {
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 4; 
    grid-row-end: 5;
    overflow-x: auto;
    align-items: flex-end;
    justify-content: left !important;
}

.buttonbar {
    grid-column-start: 1;
    grid-column-end: 3; 
    grid-row-start: 5; 
    grid-row-end: 6;
}

.shipStacks {
    grid-column-start: 2;
    grid-column-end: 3; 
    grid-row-start: 2; 
    grid-row-end: 4;
    font-size: 10.5pt;
    margin: 4px 0;

}

.plans {
    grid-column-start: 3;
    grid-column-end: 4; 
    grid-row-start: 1; 
    grid-row-end: 6;
    position: relative;
    display: flex;
}

.endOfTurn {
    white-space: nowrap;
    font-size: 13pt;
    line-height: 1.1;
    background: #666;
    padding: 0.05em 0.2em;
    background: #fdc;
    border: 1px solid #333;
    text-align: center;
    border-radius: .5em;
    height: 58px;
    cursor: zoom-in;
}

.endOfTurn img {
    height: 1em;
}

.endOfTurn.dark {
    background: #cba;
    color: #222;
}

.endOfTurn.dark .miniship {
    background: #55c;
}
