h1 {
    margin-top: 0;
    text-shadow: 2px 2px 2px #fff, -2px -2px 2px #fff;
    font-style: italic;
    position:absolute;
    right: 0.1em;
    text-align: right;
    opacity: 0.4;
    z-index: 99;
}


.grid {
    display: grid;
    width: 100%;
    height: 200vh;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    grid-template-columns: 1fr min-content min-content 1fr;
}

.townbox {
    grid-column-start: 2; 
    grid-column-end: 4; 
    grid-row-start: 2; 
    grid-row-end: 3;
    height: 260px;
    position: relative;
}

.townbox > div {
    height: 100%;
}

.playerbox {
    background: #86a;
    height: 100%;
    position: relative;
}

.rotbox {
    width: 100%;
    height: 100%;
}


.dbg {
    grid-column-start: 1; 
    grid-column-end: 5; 
    grid-row-start: 4; 
    grid-row-end: 5;
    white-space: pre;
    font-family: monospace;
    font-size: 8pt;
    overflow-y: auto;
    height: 100vh;
}


/* 1 player */

.player_0_of_1 {
    grid-column-start: 2; 
    grid-column-end: 4; 
    grid-row-start: 3; 
    grid-row-end: 4;
    height: calc( 100vh - 260px );
    width: 98vw;
}

/* 2 players */

.player_0_of_2 {
    grid-column-start: 2; 
    grid-column-end: 4; 
    grid-row-start: 3; 
    grid-row-end: 4;
    height: calc( ( 100vh - 260px ) / 2);
    width: 98vw;
}

.player_1_of_2 {
    grid-column-start: 2; 
    grid-column-end: 4; 
    grid-row-start: 1; 
    grid-row-end: 2;
    height: calc( ( 100vh - 260px ) / 2);
}

/* 3 players */

.player_0_of_3 {
    grid-column-start: 2; 
    grid-column-end: 4; 
    grid-row-start: 3; 
    grid-row-end: 4;
    height: calc( ( 100vh - 260px ) / 2);
    width: calc( 98vw - ( 1.5 * ( 100vh - 260px ) / 2) );
}

.player_1_of_3 {
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 4;
    width: calc( 1.5 * ( 100vh - 260px ) / 2);
    max-width: calc( 100vw - 760px );
}

.player_2_of_3 {
    grid-column-start: 2; 
    grid-column-end: 4; 
    grid-row-start: 1; 
    grid-row-end: 4;
    height: calc( ( 100vh - 260px ) / 2);
}

/* 4 players */

.player_0_of_4 {
    grid-column-start: 2; 
    grid-column-end: 4; 
    grid-row-start: 3; 
    grid-row-end: 4;
    height: calc( ( 100vh - 260px ) / 2);
}

.player_1_of_4 {
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 4;
}

.player_2_of_4 {
    grid-column-start: 2; 
    grid-column-end: 4; 
    grid-row-start: 1; 
    grid-row-end: 2;
    height: calc( ( 100vh - 260px ) / 2);
}

.player_3_of_4 {
    grid-column-start: 4; 
    grid-column-end: 5; 
    grid-row-start: 1; 
    grid-row-end: 4;
}


/* 4 players */

.player_0_of_5 {
    grid-column-start: 2; 
    grid-column-end: 4; 
    grid-row-start: 3; 
    grid-row-end: 4;
    height: calc( ( 100vh - 260px ) / 2);
}

.player_1_of_5 {
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 2; 
    grid-row-end: 4;
}

.player_2_of_5 {
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 2;
    height: calc( ( 100vh - 260px ) / 2);
}

.player_3_of_5 {
    grid-column-start: 3; 
    grid-column-end: 5; 
    grid-row-start: 1; 
    grid-row-end: 2;
    height: calc( ( 100vh - 260px ) / 2);
}

.player_4_of_5 {
    grid-column-start: 4; 
    grid-column-end: 5; 
    grid-row-start: 2; 
    grid-row-end: 4;
}

