.clickTarget {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 999;
    cursor: pointer;
    background: radial-gradient(ellipse,
                                transparent 0%,
                                rgba(128,0,0,0) 50%,
                                rgba(128,0,0,0.3) 60%,
                                rgba(255,255,0,0.3) 70%,
                                rgba(255,255,0,0) 80%,
                                transparent 100%);
}

.ctMsg {
    position: absolute;
    left: -1em;
    top: calc( 50% - 10pt );
    background: rgba(255,255,0,0.5);
    border: solid 1px #700;
    border-radius: .3em;
    font-size: 14pt;
}

.msg {
    position: fixed;
    width: 80vw;
    top: -3px;
    left: 10vw;
    margin: auto;
    background: #ffd;
    border: 3px #770 solid;
}

.pickResourcesDialog {
    position: fixed;
    width: 350px;
    top: 10vw;
    left: calc( 50vw - 350px / 2 );
    background: #ffd;
    border: 3px #770 outset;
    z-index: 500;
}

.instructions {
    position: absolute;
    background: cyan;
    opacity: 0.65;
    border: 2px #077 solid;
    z-index: 999;
}

.chosen {
    box-shadow: 0 0 2px 2px blue;
}

.prdstate {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.msgDialog {
    position: fixed;
    width: 30vw;
    left: 35vw;
    top: -15px;
    border: 5px #700 outset;
    border-radius: 15px;
    border-top: none;
    padding: 20px;
    z-index: 200;
    white-space: pre-wrap;
    text-align: center;
}

.msgDialog .close {
    float: right;
    background: #aaa;
    border: #999 outset 2px;
}

.score {
    position: fixed;
    top: 30vh;
    left: 30vw;
    background: white;
    z-index: 999;
    padding: 1em;
    box-shadow: 2px 2px 2px 3px #666;
}

.score table {
    border-collapse: collapse;
    background: white;
    box-shadow: 0 0 0 3px 3px white;
    border: 4px solid white;
}

.score th {
    border: 2px solid #333;
    border-top: none;
    font-size: larger;
}

.score th.upper {
    border-bottom: none;
}

.score td {
    border: 2px solid #333;
    text-align: right;
}

.score .usr {
    background: #ccc;
    font-size: smaller;
}

.score .syms {
    background: #afc;
    font-size: smaller;
}

.score .shipping {
    background: #acf;
    font-size: smaller;
}

.entireBar {
    position: absolute;
    z-index: 10;
    width: 100%;
}

.helpDlg {
    position: absolute;
    left: 10vw;
    right: 10vw;
    top: 10vh;
    bottom: 10vh;
    display: flex;
    flex-direction: column;
    background: white;
    border: 1px solid black;
    box-shadow: 3px 3px grey;
    z-index: 9999;
}

.helpDlg .content {
    flex-grow: 999;
    overflow-y: auto;
    padding: 1em;
}

.helpDlg .resources td {
    width: 8vw;
    font-size: 9pt;
}

.helpDlg td {
    border: 1px solid #999;
    text-align: center;
    vertical-align: top;
}

.helpDlg td div {
    display: block;
    margin: auto;
}

.helpDlg .ships img {
    height: 1em;
}

.helpDlg h2 {
    background: #ec9;
    margin: 0;
    padding: 0.5em;
}

.helpDlg .sbholder .building {
    display: inline-block;
    vertical-align: top;
}

h6 {
    margin: 0;
}

h6.l1 {
    font-size: 14pt;
    border-top: 1px solid grey;
    background: linear-gradient(to bottom, #ddd 0%, #ddd 50%, #fff 100%);
    margin-top: 0.5em;
}

h6.l2 {
    font-size: 12pt;
}

.content > li {
    margin-left: 2em;
}
