.clickTarget {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 999;
    cursor: pointer;
    background: radial-gradient(ellipse,
                                transparent 0%,
                                rgba(128,0,0,0) 50%,
                                rgba(128,0,0,0.3) 60%,
                                rgba(255,255,0,0.3) 70%,
                                rgba(255,255,0,0) 80%,
                                transparent 100%);
}

.ctMsg {
    position: absolute;
    left: -1em;
    top: calc( 50% - 10pt );
    background: rgba(255,255,0,0.5);
    border: solid 1px #700;
    border-radius: .3em;
    font-size: 14pt;
}

.hilite {
    position: absolute;
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    box-shadow: 0 0 2px yellow, 0 0 2px 2px black;
    border-radius: 10px;
}

.townGrid .hlwrap {
    opacity: 0.7;
}

.instructions {
    position: absolute;
    background: cyan;
    opacity: 0.65;
    border: 2px #077 solid;
    z-index: 999;
}

.buttonbar input.entireBar {
    position: absolute;
    z-index: 100;
    width: 100%;
}
